
html{

	font-size: 1em;
}
div.container {
    width: 100%;
    border: px solid gray;
}
 
header, footer {
    padding: 0.5em;
    color: white;
    background-color: #087536;
    clear: left;
    text-align: center;
}
 
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
 
nav h2{
	padding-left: 40px;
}
     
article {
    margin-left: 200px;
    border-left: 4px solid gray;
    padding: 8em;
    overflow: hidden;
    text-align: center;
}

form{
	margin: 20px auto;
}

input[type="text"]{
	display: block;
	margin-bottom: 10px;
	width: 100%;
	border: 2px solid  #087536;
}
table{
	margin-left: 300px;
	font-family: "Times New Roman", Times, serif;
}

input[type="submit"]{
	width: 120px;
	height: 30px;
	border: none;
	background:  #087536;
	color: white;
	margin-left: 79px;
}